@import 'tippy.js/dist/tippy.css'; 
@import "tailwindcss";
@tailwind utilities;

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --lightBlue-background : #e3ecf0;
  --lightBlue-accent : #a6c0cd;
  --blue-accent : #2f6684;
  --darkBlue-accent: #0a0d25;
  --orange-accent : #ff844b;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #e3ecf0;
  background-size: cover;
}

@layer utilities {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
    -webkit-text-fill-color: #ffff; /* text color */
    transition: background-color 5000s ease-in-out 0s;
    
  }
}

input:invalid {
  border: 1px solid red;
}
:focus {
  outline: none;
}

.alan-sans-500 {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
